@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@100;300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #456492;
  --color-danger: #c63c18;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}




.modal-content {
  display: flex;
  flex-direction: column;
  width: 20%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  margin: auto; /* Középre igazítás */
  background-color: rgba(0, 0, 0, 0.4); /* Sötét háttér */
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}


#unreadMessagesContainer{
  color: white;
}

.read-button.read {
  background-color: red;
  color: white;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}


body:not(.dark-theme-variables) {
  background: var(--color-background);
  color: var(--color-dark);
}


.container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-family: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-dark);
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

aside {
  height: 100vh;
  justify-content: left;
  flex-direction: column;
  
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
  margin-right: 25px;
  
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
  text-decoration: none;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
}

aside .sidebar a.active span {
  color: var(--color-primary);
}

aside .sidebar a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

aside .sidebar .message-count {
  background: var(--color-danger);
  color: var(--color-white);
  padding: 2px 10px;
  font-size: 11px;
  border-radius: var(--border-radius-1);
}


#jobb{
  height: 100vh;
  justify-content: right;
  flex-direction: column;

}


main {
  margin-top: 1.4rem;
}

main .date {
  display: inline-block;
  background: var(--color-light);
  border-radius: var(--border-radius-1);
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
  background: transparent;
  color: var(--color-dark);
}

main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .insights>div {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .insights>div:hover {
  cursor: pointer;
  box-shadow: none;
}

main .insights>div span {
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}

main .insights>div.expenses span {
  background: var(--color-danger);
}

main .insights>div.income span {
  background: var(--color-success);
}

main .insights>div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

main .insights .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .insights svg {
  width: 7rem;
  height: 7rem;
}

main .insights svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}

main .insights .sales svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .insights .expenses svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}

main .insights .income svg circle {
  stroke-dashoffset: 35;
}

main .insights .progress .number {
  position: absolute;
  top: -2px;
  left: -2px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .insights small {
  margin-top: 1.6rem;
  display: block;
}

main .recent-orders {
  margin-top: 2rem;
}

main .recent-orders h2 {
  margin-bottom: 0.8rem;
}

main .recent-orders table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .recent-orders table:hover {
  cursor: pointer;
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
  border: none;
}

main .recent-orders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}

#featuresList{
  padding: 0%;
}

.customer-container {
  border-radius: 10px;
  border: 1px solid #456492;
  padding: 15px;

  margin: 20px;
}

.customer-list {
  list-style: none;
  padding: 0;
}

.customer-item {
  margin-bottom: 8px;
}

.main-content {
  padding: 0;
  max-width:725px;
}

.adminPageMain {
  background-color: #1a2c47;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.adminsbackround {
  background-color: #1a2c47;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  background-color: #1a2c47;
  padding: 25px;
  border-radius: 10px;
  
}

label {
  color: white;
}

#upload {
  color: white;
}


#productUploadhr {
  color: white;
}



#preview {
  max-width: 100%;
  max-height: 150px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.img-thumbnail {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}


#navlogo{
  max-width: 40px; 
  height: auto;

}


#md{
  color: #e2e2e2; 
  margin-left: 3px;
  font-size: large;
}

#tech{
  color: #fa3d3b;
  font-size: large;
}

aside a img{
  margin-left: 25px;
}



.messages{
  width: 340px;
  margin-left: 20px;
  margin-top: 10px;
}

.orders{
  width: 340px;
  margin-left: 20px;
  margin-top: 10px;
  
}


.card-header{
  color: #dce1eb;
  font-size: larger;
  text-align: center;
}

.card-messages{
  padding: 5px;

}

.card-body-users{
  width: 200px;
  border-radius: 10px;
  margin-left: 70px;
  margin-top: 60px;
  
}

.users{
  color: #dce1eb;
  font-size: larger;
  text-align: center;
}

#registeredUsersCount{
  color: #dce1eb;
  font-size: larger;
  text-align: center;
}

#soldProduct{
  color: #dce1eb;
  font-size: larger;
  text-align: center;
}

#grossIncome{
  color: #dce1eb;
  font-size: larger;
  text-align:center;

}


#clock{
  font-size: large;
  margin-left: 40%;
  margin-bottom: -40px;
  padding: 0%;
}

.card-body-income{
  width: 200px;
  border-radius: 10px;
  margin-left: 70px;
  margin-top: 60px;
  
}

.income{
  color: #dce1eb;
  font-size: larger;
  text-align: center;
}



.card-body-sold{
  width: 200px;
  border-radius: 10px;
  margin-left: 70px;
  margin-top: 60px;
  
}

.soldProduct{
  color: #dce1eb;
  font-size: larger;
  text-align: center;
}




.container2{
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
}

.main-content2{
  flex: 1;
  padding-left: 220px;
  padding-right: 220px;
  
}

.more-btn {
  font-size: 15px; 
  font-weight: 600; 
  color: rgb(5, 14, 5); 
  border: none; 
  border-radius: 8px;
  background-color:#696969;
  margin-bottom: 10px;
}

.more-info {
  display: none;
}

.product-card{
  background-color: #e2e2e2;
  border: 1px solid #1c1c1c;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s;
  min-height: 620px;
  color: black;
  font-size: larger;
}

.product-card .btn-container {
  display: flex;
  justify-content: space-between;
}

.product-card img {
  margin-left: 12%;
  min-width: 60%;
  min-height: 60%;
  max-width: 50px;
  height: auto;


}






.product-card:hover {
  transform: scale(1.05);
}

.products{
  padding: 50px 50px;
  border-radius: 10px;

}

.features-list{
  min-height: 160px;
  margin-top: 10px;
}

.card-text{
  color: black;
}

.card-text b {
  color: black;
}

/* üzenetek */
.mailbox-card {
  background-color: #1a2c47;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  
  overflow-y: auto;

}

.mailbox-header {
  border-bottom: 1px solid #456492;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.mailbox-title {
  font-size: 1.5rem;
}

.mailbox-message {
  border-bottom: 1px solid #456492;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.message-subject {
  color: #41f1b6;
}

.message-sender {
  color: #7d8da1;
}

.message-content {
  color: #edeffd;
}

.adminPageMain2 {
  margin: 50px 0px 200px 0px;
 
} 

.response-form {
  margin-top: 20px;
}

.response-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  resize: vertical;
  border-radius: 10px;
}

.response-form button {
  background-color: #41f1b6;
  color: #1a2c47;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.response-form button:hover {
  background-color: #3ac7a5;
}


/*Orders*/

.order-card {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  margin-bottom: 10px;
}

.order-card:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.order-id {
  font-weight: bold;
  color: var(--color-primary);
}

.order-date {
  color: var(--color-info-dark);
}

.order-email {
  color: var(--color-dark-variant);
}

.order-products {
  margin-top: 1rem;
}

.product-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.product-name {
  flex-grow: 1;
  color: var(--color-dark);
}

.product-quantity {
  color: var(--color-primary);
}

.total-price {
  margin-top: 1rem;
  text-align: right;
  font-weight: bold;
  color: var(--color-primary);
}